@import '../../styles/sizes.scss';

.container {
  width: 100%;

  display: flex;

  padding: 2rem 0;

  @media (max-width: $sm) {
    justify-content: center;
  }

  h2 {
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}

.center {
  justify-content: center;
}
