.wrapperImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
}

.title {
  position: absolute;
  color: var(--white);
  text-shadow: 1px 1px var(--gray-200);
  font-size: 2.4rem;
}

.description {
  padding: 1.4rem;
  text-align: center;
}
